/******************MOBILE****************/

body{
  background-color:rgba(6, 6, 6, 0.5);
}

Main{
  font-family: Arial;
  background-color: rgba(149, 200, 242, 0.51);
}

header, footer{
  font-family: serif;
  background-color: rgba(0, 242, 46, 0.5);
}

footer nav ul li, footer nav ul li, header nav ul li, header nav ul li{
  font-size: 1.3em;
  width: 30%;
  margin:auto;
  list-style-type: none;
  text-align: center;
}

a{
  text-decoration: none;
  color:black;
  font-size: 2em;
}

h1, h2, h3{
  font-size: 2em;
  background-color: white;
  text-align: center;
}

form{
  background-color: white;
  height: 300px;
  width: 90%;
  margin: auto;
}

form textarea{
  width: 85%;
  height: 60%;
}

input{
  width: 10%;
}

label{
  vertical-align: top;
}

article iframe, article{
  width: 95%;
  margin: auto;
}

/*************************Tablette*********************/
@media (min-width: 600px) and (max-width: 1200px){



}
  /**************************ORDINATEUR******************/

  @media (min-width: 1200px) and (max-width: 1600px){


    footer nav ul li, footer nav ul li, header nav ul li, header nav ul li{
      display: inline-block;
      padding:20px 0 20px 0;
    }

    section{
      width: 45%;
      display: inline-block;
      vertical-align: top;
    }

    form{
      height: 450px;
    }

    .formulaire{
      margin:0 1.5% 0 2.5%;
    }

    .Carte{
      margin:0 2.5% 0 1.5%;
    }



}
