/******************MOBILE****************/

body{
  background-color:rgba(6, 6, 6, 0.5);
}

Main{
  font-family: Arial;
  background-color: rgba(244, 201, 206, 0.51);
}

header, footer{
  font-family: serif;
  background-color: rgba(242, 16, 0, 0.5);
}

footer nav ul li, footer nav ul li, header nav ul li, header nav ul li{
  font-size: 1.3em;
  width: 30%;
  margin:auto;
  list-style-type: none;
  text-align: center;
}

a{
  text-decoration: none;
  color:black;
  font-size: 2em;
}

h1, h2, h3{
  font-size: 2em;
  background-color: white;
  text-align: center;
}

form{
  background-color: white;
  height: 300px;
  width: 90%;
  margin: auto;
}

form textarea{
  width: 85%;
  height: 70%;
}

label{
  vertical-align: top;
}

article iframe, article{
  width: 95%;
  margin: auto;
}
