/***********************MOBILE***********************/


body{
  background-color:rgba(6, 6, 6, 0.5);
}

Main{
  font-family: Arial;
  background-color: rgba(244, 201, 206, 0.51);
}

header, footer{
  font-family: serif;
  background-color: rgba(242, 16, 0, 0.5);
}

a{
  text-decoration: none;
  color:black;
  font-size: 2em;
}

h1, h2, h3, main, article, section{
  border:1px solid black;
}

h1, h2, h3{
  background-color: white;
  text-align: center;
}
ul, li{
  width: 30%;
  margin: auto;
  list-style-type: none;
}

article{
  height: 300px;
}

section article img{
  float: right;
  height: 200px;
  width: 200px;
  bottom:50px;
}

/*****************TABLETTE****************/

@media (min-width: 800px) and (max-width: 1200px){


  /*Il doit probablement avoir un moyen d'optimiser ce qui suit, mais j'ai pas le temps
  Sans parler du fait que je ne vois même pas si ça fonctionne*/
  /*Finalement je l'ai enlevé, car j'avais des erreurs en cascade sur validator
  .prolo article img:nth-child(0n+1){
    background-image: image(images/imagesTablette/piscinegonflable1.png);
  }
  .prolo article img:nth-child(0n+2){
    background-image: image(images/imagesTablette/piscinegonflable2.png);
  }
  .prolo article img:nth-child(0n+3){
    background-image: image(images/imagesTablette/piscinegonflable3.png);
  }

  .luxe article img:nth-child(0n+1){
    background-image: image(images/imagesTablette/piscineluxe1.jpg);
  }

  .luxe article img:nth-child(0n+2){
    background-image: image(images/imagesTablette/piscineluxe2.jpg);
  }

  .luxe article img:nth-child(0n+3){
    background-image: image(images/imagesTablette/piscineluxe3.jpg);
  }*/

  p{
    font-size: 1.3em;
  }


  article{
    height: 400px;
  }

  header nav ul li, footer nav ul li{
    width: 10%;
    display: inline-block;
    margin:0 10% 0 10%;
  }

  ul{
    width: 90%;
  }


  ul:nth-child(0n+2){
      margin:0 0% 0 0%;
  }
}

/**************************ORDINATEUR******************/

@media (min-width: 1200px) and (max-width: 1600px){

/*Finalement je l'ai enlevé, car j'avais des erreurs en cascade sur validator
  .prolo article img:nth-child(0n+1){
    background-image: image(images/imagesOrdinateur/piscineGonflable1.jpg);
  }
  .prolo article img:nth-child(0n+2){
    background-image: image(images/imagesOrdinateur/piscineGonflable2.jpg);
  }
  .prolo article img:nth-child(0n+3){
    background-image: image(images/imagesOrdinateur/piscineGonflable3.jpg);
  }

  .luxe article img:nth-child(0n+1){
    background-image: image(images/imagesOrdinateur/piscineluxe1.png);
  }

  .luxe article img:nth-child(0n+2){
    background-image: image(images/imagesOrdinateur/piscineluxe2.jpg);
  }

  .luxe article img:nth-child(0n+3){
    background-image: image(images/imagesOrdinateur/piscineluxe3.png);
  }
  */

  p{
    font-size: 1.2em;
    color: white;
  }

  header nav ul li, footer nav ul li{
    display: inline-block;
  }

  section{
    display: inline-block;
    width: 45%;
  }

  .prolo{
    margin:20px 1% 20px 2.5%;
  }

  .luxe{
    margin:20px 0 20px 1%;
  }

}
