/******************MOBILE****************/

body{
  background-color:rgba(6, 6, 6, 0.5);
}

Main{
  font-family: Arial;
  background-color: rgba(244, 201, 206, 0.51);
}

header, footer{
  font-family: serif;
  background-color: rgba(242, 16, 0, 0.5);
}

a{
  text-decoration: none;
  color:black;
  font-size: 2em;
}

h1, h2, h3{
  font-size: 2em;
  background-color: white;
  text-align: center;
}

footer nav ul, footer nav li, header nav ul, header nav ul li{
  font-size: 1.3em;
  width: 30%;
  margin:auto;
}

table, tr, td{
  border:1px solid black;
  width: 95%;
  margin:auto;
}

table{
  height: 80%;
}

section{
  height: 400px;
}

td{
  font-size: 1.7em;
}

/**************************ORDINATEUR******************/

@media (min-width: 1200px) and (max-width: 1600px){

  section{
    display: inline-block;
    width: 49%;
    margin:0;
    height: 500px;
  }





}
